@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  --color-primary: 251, 253, 255;
  --color-secondary: 245, 248, 253;
  --color-contrast-muted: 221, 232, 250;
  --color-contrast: 34, 193, 153;

  background-color: rgb(var(--color-primary));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 26, 33, 37;
    --color-secondary: 45, 50, 55;
    --color-contrast-muted: 51, 65, 85;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
