@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
  --color-primary: 26, 33, 37;
  --color-secondary-300: 35, 41, 43;
  --color-secondary: 45, 50, 55;
  --color-text: 248, 242, 246;
  --color-contrast: 34, 193, 153;
  --color-contrast-muted: 57, 80, 78;

  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
}

@theme inline {
  --color-primary: rgb(var(--color-primary));
  --color-secondary-300: rgb(var(--color-secondary-300));
  --color-secondary: rgb(var(--color-secondary));
  --color-text: rgb(var(--color-text));
  --color-contrast: rgb(var(--color-contrast));
  --color-contrast-muted: rgb(var(--color-contrast-muted));
}

html {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

section {
  scroll-margin-top: 120px;
}
